.jinle-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 30px;
  list-style: none;
  box-shadow: $menu-box-shadow;

  // 子节点 menu-item
  > .jinle-menu-item {
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &.jinle-menu-item-disabled {
      color: $menu-item-disabled-color;
      pointer-events: none;
      cursor: default;
    }

    &.jinle-menu-item-selected,
    &:hover {
      color: $menu-item-selected-color;
    }
  }

  // submenu
  > .jinle-submenu-item {
    position: relative;

    .jinle-submenu-title {
      display: flex;
      align-items: center;

      .jinle-arrow-icon {
        transition: transform 0.25s ease-in-out;
        margin-left: 3px;
      }
    }

    .jinle-submenu {
      display: none;
      list-style: none;
      padding-left: 0;
      white-space: nowrap;

      &.jinle-submenu-opened {
        display: block;
      }

      .jinle-menu-item {
        padding: $menu-item-padding-y $menu-item-padding-x;
        cursor: pointer;
        transition: $menu-transition;
        color: $body-color;

        &.jinle-menu-item-selected,
        &:hover {
          color: $menu-item-selected-color !important;
        }
      }
    }
  }

  // 水平菜单
  &.jinle-menu-horizontal {
    flex-direction: row;
    border-bottom: $menu-border-width solid $menu-border-color;

    > .jinle-menu-item {
      border-bottom: $menu-item-selected-border-width solid transparent;

      &.jinle-menu-item-selected,
      &:hover {
        border-bottom: $menu-item-selected-border-width solid $menu-item-selected-color;
      }
    }

    .jinle-submenu-item {
      &:hover {
        .jinle-arrow-icon {
          transform: rotate(180deg);
        }
      }

      .jinle-submenu {
        position: absolute;
        background: $white;
        z-index: 100;
        top: calc(100% + 8px);
        left: 0;
        border: $menu-border-width solid $menu-border-color;
        box-shadow: $submenu-box-shadow;
      }
    }
  }

  // 垂直菜单
  &.jinle-menu-vertical {
    flex-direction: column;
    border-right: $menu-border-width solid $menu-border-color;

    > .jinle-menu-item {
      border-left: $menu-item-selected-border-width solid transparent;

      &.jinle-menu-item-selected,
      &:hover {
        border-left: $menu-item-selected-border-width solid $menu-item-selected-color;
      }
    }

    .jinle-submenu-item.jinle-submenu-item-opened {
      > .jinle-submenu-title {
        .jinle-arrow-icon {
          transform: rotate(180deg);
        }
      }
    }
  }
}
